body {
    font-family: "Poppins", sans-serif;
    background-color: #338cf4;
}

.principal {
    background-color: #fff;
    height: 266vh;
    width: 50%;
    margin: 0 auto 0 auto;
    border-radius: 20px;
}

.cabecalho {
    height: 70px;
    display: flex;
    justify-content: center;
}

#voltar {
    position: absolute;
    display: flex;
    margin: 27px 560px 0 0;
    text-decoration: none;
}

.subtitulo {
    height: 110px;
    margin: 0 0 -4% 0;
}

.subtitulo p {
    width: 90%;
    margin: 0 auto 0 auto;
    text-indent: 50px;
    text-align: justify;
}

.instrucoes {
    height: 50px;
    margin-top: 30px;
    display: flex;
}

.conteudo {
    width: 92%;
    display: flex;
    border-right: solid;
    border-left: solid;
    padding-left: 10px;
    margin: 0 auto 0 auto; /* Topo, Direita, Fundo, Esquerda */
}

.instrucoes p {
    width: 94%;
    margin-top: 0.2mm;
    text-indent: 5px;
    text-align: justify;
    line-height: 1.5;
}

button {
    cursor: pointer;
    height: 28px;
    width: 28px;
    place-items: center;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #020929;  
}
