.principal {
    height: 96vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: black;
}

.cabecalho {
    border: solid;
    border-color: aqua;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.instrucoes {
    border: solid;
    border-color: blue;
    height: 20%;

    margin-top: 2%;
    padding-left: 20px;
}