@media screen and (max-width: 800px) {

.container {
background-color: #fff;
width: 90vmin;
height: 165vmin;
padding: 40px 20px;
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
border-radius: 10px;
box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);

}

#text-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 50vh;
}

/* Manual */
.principal {
    background-color: #fff;
    height: 196vh;
    width: 52%;
    margin: 0 auto 0 auto;
    border-radius: 20px;
}

.instrucoes {
    height: 70px;
    margin-top: 30px;
    display: flex;
}

.subtitulo {
    height: 110px;
    margin: 0 0 22% 0;
}

#voltar {
    position: absolute;
    display: flex;
    padding: 28px 290px 0 0;
    text-decoration: none;
}
}



